<nb-card size="medium">

  <nb-card-body>
      <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>
      <div class="details">
      <div class="title">Redlean services</div>
      <div class="description">
      Redlean is an IT consultancy focused on IT quality and performance. Following a minimalist approach, we deliver high quality solutions and a unique client experience. 
      At redlean, we foster excellence and secure success.</div>
    </div>
  </nb-card-body>


  <nb-card-footer>
    <a href="https://redlean.io">
      <i class="ion-ios-world"></i>
    </a>
    <a href="">
      <i class="ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </nb-card-footer>
</nb-card>
