<nb-card size="medium">
  <div class="team-photo">
    <a href="mailto:contact@akveo.com">
      <button type="button" class="btn btn-success btn-icon team-link">
        <i class="ion-paper-airplane"></i>
      </button>
    </a>
  </div>

  <div class="team-info">
      <div class="title">C-Chain platform</div>

    <div class="team-subtitle">How does C-CHAIN optimize the transaction duration of the remote check clearing system?</div>
    <div class="team-bio">In order to improve the check clearing system, an interface and an inter-bank blockchain network allows a bank teller A to initiate a check transaction from a bank B in order to optimize the duration of the real-time transaction and avoid any kind of error with more security and transparency between banks.
      The C-Chain platform is an inter-bank Blockchain network, it aims to provide a high quality real-time remote compensation system.
    </div>
  </div>
</nb-card>
