<nb-card>
    <nb-card-header>
        list of bank
    </nb-card-header>

    <nb-card-body>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Bank Code</th>
                    <th>Bank Name</th>
                    <th>Address</th>
                    <th>Agency</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bank of allBanks | async">
                    <td>{{bank.Idbank}}</td>
                    <td>{{bank.name}}</td>
                    <td>{{bank.adresse}}</td>
                    <td>{{bank.Idagence}}</td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>